/* Navigation Bar */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Responsive Design */

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
