/* Navigation Bar */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Hero Section */

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}

/* Estilos generales */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;

}

.dark-section{
    color: white;
    background-color: #1b1b32;
}

.clare-section{
    color: black;
    background-color: white;
}

/* About me */

.about-me{
    height: 500px;
    padding: 10px;
}

.container-about-me{
    max-width: 600px;
    text-align: center;
}

.section-title{
    font-size: 2rem;
    padding: 15px 0;
}

.section-text{
    font-size: 1.2rem;
}

/* Experience */

.experience{
    padding: 40px 40px 60px 40px;
}

.experience .column{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    transition: all 0.2s ease-in;
}

.experience .column:hover{
    color: white;
    background-color: #0a0a23;
}

.experience-title{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0 4px;
    min-height: calc(1.2em * 2);
}

.experience svg{
  color: #fff;
  background-color: #0a0a23;
  width: 3rem;
  height: 3rem;
  padding: 10px 0;
  border-radius: 50%;
}

.badges-container{
    font-size: 20px;
    font-weight: bold;
}

.badges{
    margin: 5px;
}

/* Responsive Design */

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}